ul.link-list

  margin: 0 0 ms(1) -22px
  padding: 0
  list-style: none
  overflow: hidden

  li
    list-style: none
    float: left
    margin-left: 22px
    display: block

    a
      display: block

