

// Global Standards

*
  box-sizing border-box

html
  font-size 62.5%

body
  background body-background
  font-family body-font-family
  font-size modular-scale(0)
  line-height 1.5
  color body-font-color
  position relative



// Links

a
  color link-color
  text-decoration none
  line-height inherit

  &:hover
    color darken(link-color, 50%)

  &:focus
    color link-color
    outline none

p
  a
  a:visited
    line-height inherit


// Misc

.left
  float left
.right
  float right

.text-left
  text-align left

.text-right
  text-align right

.text-center
  text-align center

.hide
  display none

.highlight
  background highlight-color

#googlemap img, object, embed
  max-width none

#map_canvas
  embed
  img
  object
    max-width none

// Reset for strange margins by default on <figure> elements
figure
  margin 0