// Standard Forms

form
  margin 0 0 form-spacing


.row form .row
  margin 0 (-(form-spacing / 2))

  .column
  .columns
    padding 0 (form-spacing / 2)

  &.collapse
    margin 0
    .column
    .columns
      padding 0

label
  font-size ms(0)
  color lighten(black, 30%)
  cursor pointer
  display block
  font-weight 500
  margin-bottom 3px


  &.right
    float none
    text-align right

  &.inline
    line-height (ms(0) + (form-spacing * 1.5))
    margin 0 0 form-spacing 0



// @media only screen and (max-width: screen-small - 1) {
//   label.right { text-align: left; }
// }

.prefix
.postfix
  display block
  position relative
  z-index 2
  text-align center
  width 100%
  padding-top 0
  padding-bottom 0
  height (ms(0) + (form-spacing * 1.5))
  line-height (ms(0) + (form-spacing * 1.5)) - 1

a.button.prefix
a.button.postfix
  padding-left 0
  padding-right 0
  text-align center

span.prefix
span.postfix
  background darken(white, 5%)
  border 1px solid darken(white, 20%)

.prefix
  left 2px
  border-radius 2px 0 0 2px

.postfix
  right 2px
  border-radius 0 2px 2px 0

input[type="text"]
input[type="password"]
input[type="date"]
input[type="datetime"]
input[type="email"]
input[type="number"]
input[type="search"]
input[type="tel"]
input[type="time"]
input[type="url"]
textarea
  border 1px solid darken(white, 20%)
  border-radius 2px
  box-shadow inset 0 1px 2px rgba(0,0,0,0.1)
  color rgba(0,0,0,0.75)
  display block
  font-size ms(0)
  margin 0 0 form-spacing 0
  padding (form-spacing / 2)
  height (ms(0) + (form-spacing * 1.5))
  width 100%
  transition all 0.15s linear

  &.oversize
    font-size ms(1)
    padding ((form-spacing - 4) / 2) (form-spacing / 2)


  &:focus
    background darken(white, 2%)
    outline none !important
    border-color darken(white, 30%)

  &[disabled]
    background-color #ddd


textarea
  height auto

select
  width 100%

// Fieldsets
fieldset
  border solid 1px #ddd
  border-radius 3px
  padding 12px 12px 0
  margin 18px 0


  legend
    font-weight bold
    background white
    padding 0 3px
    margin 0 0 0 -3px


// Errors
.error input
.error textarea
input.error
textarea.error
  border-color alert-color
  background-color rgba(alert-color, 0.1)

.error label
label.error
  color alert-color

.error small
small.error
  display block
  padding 6px 4px
  margin-top -(form-spacing) - 1
  margin-bottom form-spacing
  background alert-color
  color #fff
  font-size(12)
  font-weight bold
  border-radius 0 0 2px 2px


// FIXME: Currently not supported by stylus
// @media only screen and (max-width: screen-small - 1) {
@media only screen and (max-width: 767)
  input[type="text"].column
  input[type="password"].column
  input[type="date"].column
  input[type="datetime"].column
  input[type="email"].column
  input[type="number"].column
  input[type="search"].column
  input[type="tel"].column
  input[type="time"].column
  input[type="url"].column
  textarea.column 
    width 100% !important




// Correct FF custom dropdown height
@-moz-document url-prefix()
  form.custom div.custom.dropdown a.selector
    height 30px

.lt-ie9 form.custom div.custom.dropdown a.selector
  height 30px




