
// Converts `3` to `three`
convertNumberToWord(num)
  foundWord = false
  for word, i in 'one' 'two' 'three' 'four' 'five' 'six' 'seven' 'eight' 'nine' 'ten' 'eleven' 'twelve' 'thirteen' 'fourteen' 'fifteen' 'sixteen' 'seventeen' 'eighteen' 'nineteen' 'twenty' 'twentyone' 'twentytwo' 'twentythree' 'twentyfour'
    if i + 1 == num
      foundWord = true
      return word
  error("Invalid number: " + num) unless foundWord



// Grid Calculation for Percentages
gridCalc(colNumber, totalColumns)
  unit((100 * colNumber / totalColumns), '%')


// Font size mixin to include px and rem
fontSize(size, isImportant = false)
  if isImportant
    font-size unit(size, 'px') !important
    font-size unit(size / 10, 'rem') !important
  else
    font-size unit(size, 'px')
    font-size unit(size / 10, 'rem')



// Default Font Stack
defaultFontFamily()
  font-family "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif



// Create CSS Triangles in a Breeze
//
// .example
//   css-triangle(5px, #fff, bottom)
cssTriangle(triangleSize, triangleColor, triangleDirection = 'top')
  content ""
  display block
  width 0
  height 0
  border solid triangleSize
  if triangleDirection == 'top'
    border-color triangleColor transparent transparent transparent
  else if triangleDirection == 'bottom'
    border-color transparent transparent triangleColor transparent
  else if triangleDirection == 'left'
    border-color transparent transparent transparent triangleColor
  else if triangleDirection == 'right'
    border-color transparent triangleColor transparent transparent



// Augments the alpha
opacify(color, al)
  rgba(red(color), green(color), blue(color), min(1, alpha(color) + al))
transparentize(color, al)
  rgba(red(color), green(color), blue(color), max(0, alpha(color) - al))