
row-width ?= 1000px
column-gutter ?= 30px
total-columns ?= 12
mobile-total-columns ?= 4


// Colors
main-color ?= #197fe2
secondary-color ?= #eee
alert-color ?= #c60f13
success-color ?= #5da423
txt-color ?= #222
highlight-color ?= #ffff99
black ?= #000
white ?= #fff
shiny-edge ?= rgba(#fff, .3)
dark-edge ?= rgba(#000, .2)




// Form Settings
form-spacing ?= 12px

// Tab Settings
tab-height ?= 40px

// Nav Bar Settings
nav-bar-height ?= 40px
nav-flyout-base-width ?= 250px


// Fonts
header-font-family ?= "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
header-font-weight ?= bold
header-font-color ?= #222

body-font-family ?= "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif
body-font-weight ?= normal
body-font-color ?= txt-color


// Modular Scale Settings
base-font-fize ?= 14px
important-mod-num ?= 44px
base-size = base-font-size important-mod-num


// Media Queries

screen-small ?= 768px
screen-medium ?= 1279px
screen-x-large ?= 1441px
