
.container.row
  outerRow()

.row
  grid()

img
object
embed
  max-width 100%
  height auto

img
  -ms-interpolation-mode bicubic

#map_canvas img
.map_canvas img
  max-width none !important

// Nicolas Gallagher's micro clearfix
.row
  clearfix()



// Mobile Grid and Overrides
//
// FIXME: this isn't currently supported by stylus
// @media only screen and (max-width: {screenSmall - 1})
@media only screen and (max-width: 767px)
  body
    -webkit-text-size-adjust none
    -ms-text-size-adjust none
    width 100%
    min-width 0
    margin-left 0
    margin-right 0
    padding-left 0
    padding-right 0




// Block Grids
// ===========

// These are 2-up, 3-up, 4-up and 5-up ULs, suited
// for repeating blocks of content. Add 'mobile' to
// them to switch them just like the layout grid
// (one item per line) on phones

// For IE7/8 compatibility block-grid items need to be
// the same height. You can optionally uncomment the
// lines below to support arbitrary height, but know
// that IE7/8 do not support :nth-child.

.block-grid
  display block
  overflow hidden
  padding 0

  &>li
    display block
    height auto
    float left

.block-grid.two-up
  margin 0 -15px
.block-grid.two-up > li
  width 50%
  padding 0 15px 15px

.block-grid.three-up
  margin 0 -12px
.block-grid.three-up > li
  width 33.33%
  padding 0 12px 12px

.block-grid.four-up
  margin 0 -10px
.block-grid.four-up > li
  width 25%
  padding 0 10px 10px

.block-grid.five-up
  margin 0 -8px
.block-grid.five-up > li
  width 20%
  padding 0 8px 8px

// Mobile Block Grids
//
// FIXME: this isn't currently supported by stylus
// @media only screen and (max-width: $screenSmall - 1)
@media only screen and (max-width: 767px)
  .block-grid.mobile
    margin-left 0
    &> li
      float none
      width 100%
      margin-left 0

  .block-grid
    &> li
      clear none !important

    &.mobile-two-up > li
      width 50%
      &:nth-child(2n+1)
        clear both

    &.mobile-three-up > li
      width 33.33%
      &:nth-child(3n+1)
        clear both !important

    &.mobile-four-up > li
      width 25%
      &:nth-child(4n+1)
        clear both

    &.mobile-five-up > li
      &:nth-child(5n+1)
        clear both



