

dl.sub-nav
  display block
  width auto
  overflow hidden
  margin -4px 0 18px -9px
  padding-top 4px

  dt
  dd
    float left
    display inline
    margin-left 9px
    margin-bottom 10px
 
  dt
    color #999
    font-weight body-font-weight
 
  dd a
    text-decoration none
    border-radius 1000px
 
  dd.active a
    font-weight bold
    background main-color
    color #fff
    padding 3px 9px
    cursor default
 